# Auto detect text files and perform LF normalization
* text=auto


describe('logIn', () => {
  it('shows home screen with available items', () => {
  cy.visit('www.saucedemo.com')
  cy.get('[data-test="username"]').click().type('standard_user')
  cy.get('[data-test="password"]').click().type('secret_sauce')
  cy.get('[data-test="login-button"]').click()  })
})

describe('addItemsToCart', () => {
  it('should list all items in cart', () => {
  cy.visit('www.saucedemo.com')
  cy.get('[data-test="username"]').click().type('standard_user')
  cy.get('[data-test="password"]').click().type('secret_sauce')
  cy.get('[data-test="login-button"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-backpack"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-bike-light"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-bolt-t-shirt"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-fleece-jacket"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-onesie"]').click()
  cy.get('[data-test="add-to-cart-test.allthethings()-t-shirt-(red)"]').click()
  cy.get('[data-test="shopping-cart-link"]').click()
  })
})

describe('validateCheckoutProcess', () => {
  it('passes', () => {
  cy.visit('www.saucedemo.com')
  cy.get('[data-test="username"]').click().type('standard_user')
  cy.get('[data-test="password"]').click().type('secret_sauce')
  cy.get('[data-test="login-button"]').click() 
  cy.get('[data-test="add-to-cart-sauce-labs-backpack"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-bike-light"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-bolt-t-shirt"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-fleece-jacket"]').click()
  cy.get('[data-test="add-to-cart-sauce-labs-onesie"]').click()
  cy.get('[data-test="add-to-cart-test.allthethings()-t-shirt-(red)"]').click()
  cy.get('[data-test="shopping-cart-link"]').click()
  cy.get('[data-test="checkout"]').click()
  cy.get('[data-test="firstName"]').click().type('Amber')
  cy.get('[data-test="lastName"]').click().type('Burlet')
  cy.get('[data-test="postalCode"]').click().type('70433')
  cy.get('[data-test="continue"]').click()
  cy.get('[data-test="finish"]').click()
  })
})

describe('validateMenuFunction', () => {
  it('shows a drop down menu after clicking', () => {
  cy.visit('www.saucedemo.com')
  cy.get('[data-test="username"]').click().type('standard_user')
  cy.get('[data-test="password"]').click().type('secret_sauce')
  cy.get('[data-test="login-button"]').click()
  cy.get('#react-burger-menu-btn').click()
  })
})

describe('validateLogoutbtn', () => {
  it('logs out', () => {
  cy.visit('www.saucedemo.com')
  cy.get('[data-test="username"]').click().type('standard_user')
  cy.get('[data-test="password"]').click().type('secret_sauce')
  cy.get('[data-test="login-button"]').click()  
  cy.get('#react-burger-menu-btn').click()
  cy.get('[data-test="logout-sidebar-link"]').click()
  })
})